@page "/"
@using GameSaper.Domain

@inject IJSRuntime JS //Реализация для использования JS

<h1></h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 border border-white">
            @foreach (var row in field.Rows)
            {
                <div class="row justify-content-center">
                    @foreach (var cell in row.Cells)
                    {
                        <button class="cell" @onclick="(mouse) => CellClick(mouse, cell)"><img src="@AssignCells(cell)"></button>
                        //В кнопку передача всех ячеек
                    }
                </div>
            }
        </div>
    </div>
</div>

@code {
    private Field field;

    protected override void OnInitialized() //Инициализация компонента
    {
        field = new(10, 10, 10);
    }

    private void CellClick(MouseEventArgs mouse, Cell cell) //Метод, обработка нажатия
    {
        if (field.Explode)
        {
            return;
        }
        if (mouse.Button == 0)
        {
            field.CellOpen(cell.Id);
            if (cell.IsBomb)
            {
                Defeat(cell);
            }
            else
            {
                if (field.CheckCells())
                {
                    JS.InvokeVoidAsync("alert", "Поздравляю, вы выиграли!"); //С помощью метода InvokeVoidAsync, взяв с JS функцию alert можно вывести сообщение
                }
                else
                {
                    OpenEmptyCells(cell);
                }
            }
        }
        else if (mouse.Button == 2)
        {
            field.FlagPut(cell.Id);
        }
    }

    private string AssignCells(Cell cell) //Метод, отображение ячеек при открытии
    {
        if (cell.IsOpen)
        {
            if (cell.IsBomb)
            {
                return "https://avatars.mds.yandex.net/i?id=d909a7c498d3cc2933951ba4e704eaec-5884061-images-thumbs&n=13";
            }
            switch (field.BombCells(cell.Id))
            {
                case 1:
                    return "https://www.klass39.ru/wp-content/uploads/2015/09/t1@3fba0255-0a59-42cf-bdcb-9a4a0446b444.jpg";
                case 2:
                    return "https://steshka.ru/wp-content/uploads/2015/02/cifra_2_5.jpg";
                case 3:
                    return "https://svgsilh.com/svg/150792-f44336.svg";
                case 4:
                    return "https://www.toutelasignaletique.com/21360-thickbox_default/chiffre-4-en-aluminium-5-coloris-et-2-dimensions-possibles.jpg";
            }
        }
        if (cell.WithFlag)
        {
            return "https://e7.pngegg.com/pngimages/337/559/png-clipart-minesweeper-computer-icons-bing-maps-video-game-mines-miscellaneous-game.png";
        }

        return "https://coolwallpapers.me/picsup/3396682-matt-surface-texture.jpg";
    }

    private void Defeat(Cell cell)
    {
        foreach (var bomb in field.GetBombs())
        {
            bomb.IsOpen = true;
        }

        JS.InvokeVoidAsync("alert", "Вы проиграли!"); //С помощью метода InvokeVoidAsync, взяв с JS функцию alert можно вывести сообщение

        StateHasChanged(); //Метод, для того чтобы сообщить компоненту о том, что произошли изменения и запустить рендеринг(интерфейс)
    }

    private void OpenEmptyCells(Cell cell) //Метод, по открытию пустых ячеек
    {
        var cells = field.OpenEmptyCells(cell);
        foreach (var openCell in cells)
        {
            AssignCells(openCell);
        }
    }
}